<%= form_with model: stock do |form| %> <%
stock.errors.full_messages_for(:qty).each do |message| %>
<div class="alert alert-primary"><%= message %></div>
<% stock.errors.full_messages_for(:name).each do |message| %>
<div class="alert alert-primary"><%= message %></div>
<% end %> <% end %>
<div class="input-group _form">
  <%= form.label :name , class: "input-group-text" %><br />
  <%= form.text_field :name , class: "form-control", placeholder: "Name
  Product"%>
</div>
<div class="input-group _form">
  <%= form.label :qty , class: "input-group-text " %><br />
  <%= form.number_field :qty , class: "form-control" , placeholder:
  "QtyProduct"%><br />
</div>
<div class="input-group _form d-flex justify-content-between">
  <div><%= link_to '<span class="material-icons">reply </span>'.html_safe, root_path ,class: "btn  btn-outline-dark btn-sm"%></div>
  <div><%= form.submit  class: "btn  btn-outline-dark  " %></div>
</div>

<% end %>