<div class="container">
  <div class="row g-3">
      <div class="col-md-12 title_page d-flex justify-content-center align-items-center shadow p-3 mb-3 mt-3 rounded">
        Stocks
    </div>
  </div>
  <div class="row g-3">
    <div class="col-md-12">
      <div class="d-flex justify-content-center align-items-center">
        <%= link_to '<span class="material-icons">post_add</span>'.html_safe, new_stock_path, class: "btn btn-success d-flex justify-content-center mb-2" %>
      </div>
    </div>
  
    <div class="col-md-12">
        <div class="input-group justify-content-center align-items-center">
          <%= search_form_for @q do |f| %> 
          <%= f.search_field:name_cont ,placeholder: 'Search stock...', class: 'form-control '%> 
        <%end%>
      </div>
    </div>
    <div class="col-md-12">
      <div class="d-flex justify-content-center align-items-center">
        <table class="table table-striped ">
          <thead class="table-hover">
            <td>No</td>
            <td><%= sort_link(@q, :name)  %></td>
            <td><%= sort_link(@q, :qty)  %></td>
            <td>Show</td>
            <td>Edit</td>
            <td>Delete</td>
          </thead>
          <% i = 1%> <% @stock.each do |item| %>
          <tr>
            <td><%= i %></td>
            <td><%= item.name %></td>
            <td><%= item.qty %></td>
            <td>
              <%= link_to '<span class="material-icons ">find_in_page</span>'.html_safe, item, class: "btn btn-outline-dark btn-sm "%>
            </td>
            <td>
              <%= link_to '<span class="material-icons ">edit</span>'.html_safe, edit_stock_path(item), class: "btn btn-outline-dark btn-sm "%>
            </td>
            <td>
              <%= link_to  '<span class="material-icons ">delete</span>'.html_safe, stock_path(item), class: "btn btn-outline-danger btn-sm ", method: :delete, data: { confirm: "Are
              you sure?" } %>
            </td>
          </tr>
          <%i+=1 end%>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- <%= link_to 'Sign out', destroy_user_session_path, class: "btn btn-outline-danger"%> -->

